# Prerequisites
*.d

# Ignore all build folders
# 所有代码编译存放的文件夹
build/

# Ignore all install other lib
#存放所依赖的第三方库文件
/install/

# Ignore all pb files
#存放proto文件生成的源文件和头文件
/proto/pb  

# Ignore all odb out files
# 存放odb文件生成后的文件
/odb/out


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

